<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Obrigado</title>
</head>
<body>
   <main id="mainContent">
      <section id="obrigado">
         <p>Obrigado por enviar o formulário!</p>
      </section>
   </main>
   <script src="./assets/js/bundle.js"></script>
</body>
</html>